body{
    font-family: 'Roboto', sans-serif;
}

.font-righteous{
    font-family: 'Righteous', cursive;

}
.pagina{
   
    background-color: #E5E5E5;
    width: 414px;
}


.top
{
    height: 92px;
    background-color: #CF2B2B;
    position: fixed;
    top:0;
    left: 0%;
    width: 414px;;

}

.bottom{
    height: 92px;
    background-color: #FFFFFF;
    position: fixed;
    bottom:0;
    left: 0%;
    width:414px;
}

.bottom div{
    display: flex;
    
    justify-content: center;
    margin-top: 20px;

}

.bottom p{
    height:61px;
    width: 88%;
    background-color:#CBCBCB;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    padding-top: 96px;
    padding-bottom: 108px;
}

.menu{
    margin-top: 30px;
    
    width: 414px;

}

.teste{
    margin-left: 4%;
   
    
}

.options{
    display: flex;
    overflow: scroll;
    padding-right: 4%;
    
}
 
.option{
    
    height: 216px;
    width: 172px;
    background-color: #FFFFFF;
    
    border-radius: 9px;
    

}

.options::-webkit-scrollbar{
    width: 0;
    display: none;
    }

#subtitle {
    width: 55%;
    height: 17px;
   
    margin-top: 5px;
    margin-left: 5%;
    font-size: 18px;
  
}

h1{
    margin-top: 8px;
    font-size: 44px;
    margin-left: 5%;
    
}



h2{
    height: 25px;
    width:60.4%;
  
    font-size: 26px;
    
    margin-left: 4.6%;
    margin-bottom: 17px;

}




img{
    border-radius: 4px;
    height: 87px;
    width: 83.7%;
    margin-top: 18px;
    margin-bottom: 8px;
    margin-left: 8%;
    
}

h3{
    height: 23px;
    width: 80.81%;
    margin-left: 8.7%;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 16px;
    
}

.ingredients{
    height:18px;
    width: 85.5%;
    margin-left: 8.7%;
    font-weight: 300;
    font-size: 15px;
    color: #A6A6A6;
    margin-bottom: 9px;


}

.price{
    height: 19px;
    width: 3.5;
    margin-left: 8.7%;
}


